@model Nutrition.Models.User

@{
    ViewData["Title"] = "Edit";
}


<h1>Edit your information</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label">Sex</label>
                <select asp-for="Sex" class="form-control">
                    <option selected></option>
                    <option>male</option>
                    <option>female</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Age</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label">Height</label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentWeight" class="control-label">Current weight</label>
                <input asp-for="CurrentWeight" class="form-control" />
                <span asp-validation-for="CurrentWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalWeight" class="control-label">Goal weight</label>
                <input asp-for="GoalWeight" class="form-control" />
                <span asp-validation-for="GoalWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityLevel" class="control-label">Activity level</label>
                <select asp-for="ActivityLevel" class="form-control">
                    <option selected></option>
                    <option>Sedentary</option>
                    <option>Lightly active</option>
                    <option>Moderately active</option>
                    <option>Very active</option>
                    <option>Extra active</option>
                </select>
                <span asp-validation-for="ActivityLevel" class="text-danger"></span>

                <div class="form-group">
                    <label asp-for="IntensityOfThePlan" class="control-label">Intensity of the plan</label>
                    <select asp-for="IntensityOfThePlan" class="form-control">
                        <option selected></option>
                        <option>Lose 0.5kg per week</option>
                        <option>Lose 1kg per week</option>
                        <option>Maintain current weight</option>
                        <option>Gain 0.5kg per week</option>
                        <option>Gain 1kg per week</option>
                    </select>
                    <span asp-validation-for="IntensityOfThePlan" class="text-danger"></span>
                </div>

            </div>
            <!--
    <div class="form-group">
        <label asp-for="BMR" class="control-label"></label>
        <input asp-for="BMR" class="form-control" />
        <span asp-validation-for="BMR" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DailyCalorieNeeds" class="control-label"></label>
        <input asp-for="DailyCalorieNeeds" class="form-control" />
        <span asp-validation-for="DailyCalorieNeeds" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CarbohydratesPercentage" class="control-label"></label>
        <input asp-for="CarbohydratesPercentage" class="form-control" />
        <span asp-validation-for="CarbohydratesPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Carbohydrates" class="control-label"></label>
        <input asp-for="Carbohydrates" class="form-control" />
        <span asp-validation-for="Carbohydrates" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProteinPercentage" class="control-label"></label>
        <input asp-for="ProteinPercentage" class="form-control" />
        <span asp-validation-for="ProteinPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Protein" class="control-label"></label>
        <input asp-for="Protein" class="form-control" />
        <span asp-validation-for="Protein" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FatPercentage" class="control-label"></label>
        <input asp-for="FatPercentage" class="form-control" />
        <span asp-validation-for="FatPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fats" class="control-label"></label>
        <input asp-for="Fats" class="form-control" />
        <span asp-validation-for="Fats" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyFibre" class="control-label"></label>
        <input asp-for="DailyFibre" class="form-control" />
        <span asp-validation-for="DailyFibre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailySugars" class="control-label"></label>
        <input asp-for="DailySugars" class="form-control" />
        <span asp-validation-for="DailySugars" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailySodium" class="control-label"></label>
        <input asp-for="DailySodium" class="form-control" />
        <span asp-validation-for="DailySodium" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyPotassium" class="control-label"></label>
        <input asp-for="DailyPotassium" class="form-control" />
        <span asp-validation-for="DailyPotassium" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyCholesterol" class="control-label"></label>
        <input asp-for="DailyCholesterol" class="form-control" />
        <span asp-validation-for="DailyCholesterol" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyVitaminA" class="control-label"></label>
        <input asp-for="DailyVitaminA" class="form-control" />
        <span asp-validation-for="DailyVitaminA" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyVitaminC" class="control-label"></label>
        <input asp-for="DailyVitaminC" class="form-control" />
        <span asp-validation-for="DailyVitaminC" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyCalcium" class="control-label"></label>
        <input asp-for="DailyCalcium" class="form-control" />
        <span asp-validation-for="DailyCalcium" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DailyWater" class="control-label"></label>
        <input asp-for="DailyWater" class="form-control" />
        <span asp-validation-for="DailyWater" class="text-danger"></span>
    </div> -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
